/.idea/
/NodeGameClient.iml
/package-lock.json
/node_modules/
/examples/reference-client/node_modules/
/docs/Server-README.md
/docs/Server-CLAUDE.md
/dist/
/examples/browser-game/package-lock.json
/examples/reference-client/package-lock.json
